To run the notebooks and Python scripts, ensure you have the necessary dependencies installed:

Python 3.9
Jupyter Notebook

Libraries:
numpy
matplotlib
pandas
re
scikit-learn
vaderSentiment
spacy
nltk
tqdm
torch (PyTorch)
torchmetrics
multiprocessing (part of the Python standard library)
transformers
typing (part of the Python standard library)

Hardware requirement:
To train the deep learning models on PyTorch, the following GPU was used: NVIDIA GeForce RTX 3050, associated with cuda version 11.8 
